name: "Create Release"

on:
  push:
    branches: [ "main" ]

defaults:
  run:
    working-directory: ./PostExporter

jobs:
  build-and-release:
    name: Build and Release
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
        with:
          # To fetch all tags for git show-ref
          fetch-depth: 0

      - name: Get version
        id: get-version
        run: |
          $version_prefix = ([xml](Get-Content -Path PostExporter.csproj)).Project.PropertyGroup.VersionPrefix
          $match = select-string "^[0-9]+\.[0-9]+" -inputobject $version_prefix
          $major_minor_version = $match.Matches.groups[0].value
          echo "major-minor-version=$major_minor_version" >> $env:GITHUB_OUTPUT

      - name: Check if tag already exists
        id: tagged
        shell: bash
        run: git show-ref --tags --verify --quiet -- "refs/tags/v${{ steps.get-version.outputs.major-minor-version }}" && (echo "tag-already-exists=1" >> $GITHUB_OUTPUT) || (echo "tag-already-exists=0" >> $GITHUB_OUTPUT)

      - uses: actions/setup-dotnet@v5
        if: steps.tagged.outputs.tag-already-exists == 0
        with:
          dotnet-version: '10.x'

      - run: dotnet restore
        if: steps.tagged.outputs.tag-already-exists == 0

      - run: dotnet publish PostExporter.csproj --configuration Release --no-restore
        if: steps.tagged.outputs.tag-already-exists == 0

      - name: Create tag
        if: steps.tagged.outputs.tag-already-exists == 0
        uses: actions/github-script@v8
        with:
          script: |
            const createTagResponse = await github.rest.git.createTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: 'v${{ steps.get-version.outputs.major-minor-version }}',
              message: 'Release ${{ steps.get-version.outputs.major-minor-version }}',
              object: context.sha,
              type: 'commit'
            });
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{ steps.get-version.outputs.major-minor-version }}',
              sha: createTagResponse.data.object.sha
            });

      - name: Create release
        if: steps.tagged.outputs.tag-already-exists == 0
        uses: softprops/action-gh-release@v2
        with:
          name: "Release ${{ steps.get-version.outputs.major-minor-version }}"
          tag_name: "v${{ steps.get-version.outputs.major-minor-version }}"
          generate_release_notes: true
          draft: false
          prerelease: false
          files: ./PostExporter/bin/Release/net10.0-windows/win-x64/publish/PostExporter.exe
          fail_on_unmatched_files: true
